.title { 
	text-align: center;
	color: #6076a5;
}

.subtitle {
	text-align: left;
	color: grey;
}

body {
	background-color: #ecebe8;
}

.centre {
	text-align: center;
}

.large {
	font-size: 32px;
}

img {
	vertical-align: bottom;
}

a:hover { 
    background-color: white;
}
