body
 {
  background-image: url("StarryNight_blur.jpg");
  background-position: top-left;
  font-family: sans-serif;
 }

h1
 {
  text-align:center;
  background-color:#87CEFA;
  color: yellow;
  font-size: 50px;
 }

h2
 {
  text-align:center;
  background-color:#87CEFA;
  color: yellow;
  font-size: 40px;
 }

h3
 {
  text-align:center;
  background-color:#87CEFA;
  color: yellow;
  font-size: 30px;
 }

p
 {
  font-size:x-large;
  background-color:#87CEFA;
  color: yellow;
  text-align:center;
 }

ol
 {
  font-size:large;
  background-color:#87CEFA;
  color: yellow;
  text-align:left;
 }



