*
{
	font-family: 'Montserrat', sans-serif; 
	font-weight: 100; 
	border: 0px; 
	margin: 0px;
}

body {background-color: #661000;}



#navbar 
{
	width: 100%;
	height: 70px;
	background-color: #8e200b;
}

#navbar img
{
	width: 50px;
	float: left;
	margin-left: 150px;
	margin-top: 10px;
}

#navbar ul 
{
	float: right;
	margin-right: 150px;
}

#navbar nav ul li
{
	list-style-type: none;
	display: inline-block;
	font-size: 35px;
}

#navbar nav ul li:hover
{
	background-color: #cea500;
}

#navbar nav ul li a 
{
	color: #FFFFFF;
	text-decoration: none;
	line-height: 70px;
	padding: 30px;
}

h1
{
	color: #FFFFFF;
	font-size: 100px;
	text-align: center;
	margin-top: 100px;
}

.ImplementationsImages
{
	display:block; 
}

.ImplementationsImages img
{
	width: 350px;
	float: left;
	margin-left: 100px;
	margin-top: 100px;
	background-color: #8e200b;
}

