*
{
	font-family: 'Montserrat', sans-serif; 
	font-weight: 100; 
	border: 0px; 
	margin: 0px;
}

body {background-color: #661000;}



#navbar 
{
	width: 100%;
	height: 70px;
	background-color: #8e200b;
}

#navbar img
{
	width: 50px;
	float: left;
	margin-left: 150px;
	margin-top: 10px;
}

#navbar ul 
{
	float: right;
	margin-right: 150px;
}

#navbar nav ul li
{
	list-style-type: none;
	display: inline-block;
	font-size: 35px;
}

#navbar nav ul li:hover
{
	background-color: #cea500;
}

#navbar nav ul li a 
{
	color: #FFFFFF;
	text-decoration: none;
	line-height: 70px;
	padding: 30px;
}

.FormForInput
{
	width: 500px; 
	height: 600px; 
	background-color: #8e200b;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	border-radius: 20px;
	border: 4px solid #8e200b;
}

.TextInput input 
{
	width: 100%;
	background: #661000;
	color: #FFFFFF;
	height: 35px;
	border-radius: 20px;
	border: 4px solid #661000;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif; font-weight: 900;
}

.LoginButton input
{
	width: 100%;
	background: #007c28;
	color: #FFFFFF;
	height: 55px;
	border-radius: 20px;
	border: 4px solid #007c28;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif; font-weight: 100;
}

.ResetButton input
{
	width: 100%;
	background: #cea500;
	color: #FFFFFF;
	height: 55px;
	border-radius: 20px;
	border: 4px solid #cea500;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif; font-weight: 100;
}

h1 
{
	margin: 0;
	padding:  0 0 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 50px;
}